#map {
    height: 100vh;
}

#panel {
    width: 350px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 499;
    padding-top: 30px;
}

.ul-popup {
    padding: 0px;
    list-style-type:none;
}

.ul-panel {
    padding: 0px;
    list-style-type: none;
}

.li-panel {
    background-color:rgba(0, 0, 0, 0.05);
    margin: 3px;
    padding: 3px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: small;
    border-radius: 3px;
}

.size-60 {
    width: 60%;
}

.list {
    border: solid 1px lightgray;
    border-radius: 5px;
    height: 85vh;
}